
img(src='/images/bitters.jpg', width='100%', class='profile')

h3 Me

p I'm Stan. I lead the Pushing Social jeesh and want to put 1 million people on the road to personal freedom through entrepreneurship

p
  a(href='http://www.pushingsocial.com') Pushing Social
p
  a(href='http://mastermind.pushingsocial.com') PS Mastermind


h3 What's Here

p 
a(href='http://pushingsocial.com/fable') A blogging fable 
  
